body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

/* HEADER */
header {
    background: black;
    color: white;
    padding: 15px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    letter-spacing: 2px;
}

/* PRODUCTOS */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

/* BOTÓN WHATSAPP */
button {
    background: #25D366;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1ebe5d;
}
