body { font-family: Arial; margin:0; background:#f5f5f5; }

header {
    background:black; color:white;
    display:flex; justify-content:space-between;
    padding:15px; align-items:center;
}

.logo-container { display:flex; gap:10px; align-items:center; }
.logo-container img { width:50px; }

/* CARRUSEL */
.carousel-global {
    position: relative;
    width: 100%;
    height: 250px;
}

.carousel-global img {
    position:absolute;
    width:100%;
    height:100%;
    object-fit:contain;
    opacity:0;
    transition:1s;
}

.carousel-global img.active { opacity:1; }

/* PRODUCTOS */
.productos {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:20px;
}

.producto {
    background:white;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

.producto img {
    width:100%;
    height:auto;
}

/* BOTONES */
button {
    background:#25D366;
    color:white;
    border:none;
    padding:10px;
    width:100%;
}

/* CARRITO */
.oculto { display:none; }

.carrito {
    position:fixed;
    right:0;
    top:0;
    width:80%;
    height:100%;
    background:white;
    padding:20px;
}

/* MODAL */
.modal {
    display:none;
    position:fixed;
    background:rgba(0,0,0,0.9);
    width:100%; height:100%;
    justify-content:center;
    align-items:center;
}

.modal img { max-width:90%; }

/* FOOTER */
.footer {
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}
